body{
    text-align: center;
    box-sizing: border-box;
    
}
a{
    text-decoration: none;
    color: black;
}
div{
    box-sizing: border-box;
}
hr{
    width: 80%;
    margin-bottom: 40vh;
    
}
.nav{
    height: 20vh;
    width:100%;
    position: fixed;
    top :0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px;
    margin-top: -20px;
    

    
}
.nav_left{
    flex:0.2;
}
.nav_right{
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex:0.5;
}
.content{
    width:100%;
    margin-top:10vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    
}
.content_home {
    height:90vh;
    width: 80%;
    margin-bottom: 40vh;
    display: flex;
    justify-content: space-around;
    align-items: center;

}
.home_left {
    flex:0.5;
    height: 100%;
    object-fit: contain;
    display: flex;
    align-items: center;
    justify-content: center;
}
.home_img{
    object-fit: contain;
    width: 80%;
    height: 80%;

}
.home_right {
    flex:0.5;
    height: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

.content_about{
    width:100%;
    background-color: rgb(207, 194, 194);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

}
.content_about_1{
    height: 70vh;
    width: 80%;
    margin-bottom: 40vh;
    background-color: white;
    display: flex;
    align-items: center;
    margin-top: 40vh;
}
.about1_left{
    width:50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.about1_left img{
    width:100%;
    height: 60%;
    object-fit: contain;
}
.about1_right{
    width:50%;
    height:100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding:10px;
    margin-right: 20px;
}
.about1_items{
    width:100%;
    height:40%;
    display: flex;
    align-items: center;
}
.about1_item{
    flex: 0.5;
    height: 50%;
}
.about1_img{
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: center;
}
.react{
    width: 15%;
    height: 60%;
    object-fit: contain;
}
.html_css_js{
    object-fit: contain;
    width : 50%;
    height:100%;
    margin-left:-10px;
    margin-right:10px;
}
.content_about_2{
    height: 60vh;
    width: 80%;
    margin-bottom: 40vh;
    background-color: white;
}
.content_goal{
    height:90vh;
    width:80%;
    margin-bottom: 20vh;
}
.footer{
    border-top: 0.1px solid black;
    width:80%;
    height: 20vh;
    display: flex;
    justify-content: center;
    align-items: center;
}