html {
    scroll-behavior: smooth;
}
body{
    text-align: center;
    box-sizing: border-box;
    
}
a{
    text-decoration: none;
    color: black;
}
div{
    box-sizing: border-box;
}
hr{
    width: 80%;
    margin-bottom: 40vh;
    
}
.about1_right fieldset{
    width: 90%;
    height: 60%;
    padding: 20px;
    padding-bottom: 30px;
    padding-right: 30px;
    border: 3px solid gray;
}
.nav{
    height: 20vh;
    width:100%;
    position: fixed;
    top :0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px;
    margin-top: -20px;
    font-size: 20px;
}
.logo{
    font-size: 40px;
}
.nav_left{
    flex:0.2;
}
.nav_right{
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex:0.5;
}
.content{
    width:100%;
    margin-top:10vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    
}
.text{
    font-size: 30px;
}
.text_inner{
    font-size: 30px;
    text-align: center;
}
.learn_more{
    font-size: 20px;
}
.down i {
        width: 70px;
        height: 20px;
        animation-name: demo;
	    animation-duration: 2s;
	    animation-iteration-count : infinite;
}
#content_home {
    height:90vh;
    width: 80%;
    margin-bottom: 40vh;
    display: flex;
    justify-content: space-around;
    align-items: center;

}
.home_left {
    flex:0.5;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.home_img{
    object-fit: contain;
    width: 80%;
    height: 80%;

}
.home_right {
    flex:0.5;
    height: 90%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}
.blink {
    animation: blink 0.5s infinite;
    font-size: 2.5rem;
  }
  
  @keyframes blink {
    to {
        opacity: 0;
    }
  }
#content_about{
    width:100%;
    background-color: rgb(207, 194, 194);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

}
.content_about_1{
    height: 70vh;
    width: 90%;
    margin-bottom: 40vh;
    background-color: white;
    display: flex;
    align-items: center;
    margin-top: 20vh;
    
}
.about1_left{
    width:50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.about1_img{
    width:100%;
    height:60%;
    
}
.about1_left img{
    width:100%;
    height: 100%;
    object-fit: contain;
    
}
.about1_right{
    width:50%;
    height:100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding:10px;
    margin-right: 40px;
}
.about1_items{
    width:100%;
    height:40%;
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}
.about1_item{
    flex: 0.5;
    height: 50%;
    
}
.about1_img{
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: center;
}
.react{
    width: 15%;
    height: 100%;
    object-fit: contain;
    
    
}
.html_css_js{
    object-fit: contain;
    width : 50%;
    height:100%;
    
    
}
.content_about_2{
    height: 60vh;
    width: 90%;
    margin-bottom: 40vh;
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.hobbies{
    width:100%;
    height: 60%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 20px;
}
.hobbies fieldset {
    width: 30%;
    height: 70%;
    padding: 20px;
    padding-bottom: 30px;
    padding-right: 30px;
    border: 3px solid gray;
}
.hobby{
    display: flex;
    width:100%;
    height:100%;
    align-items: center;
    justify-content: space-around;
}
.hobby img{
    width: 45%;
    height: 100%;
    object-fit: contain;

}
.movie {
    width:100% !important;
    height: 100%;
    object-fit: contain;
}

#content_goal{
    height:90vh;
    width:80%;
    margin-bottom: 40vh;
    

}
.goal_title{
    margin-top:20vh;
}
.content_goal strong{
    font-size: 20px;
}
.goals {
    width: 80%;
    height: 70%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin:0 auto;

}
.goal {
    width: 40%;
    height: 80%;
    background-color: beige;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    border-radius: 20%;
}
.goal img {
    width: 80%;
    height: 60%;
}
.footer{
    border-top: 0.1px solid black;
    width:80%;
    height: 20vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
}